
*, *:before, *:after {box-sizing: border-box;}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.navy, .white, .grey, .white-two {
    padding: 50px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 480px
}

.header, .footer {
    display: flex;
    align-items: center;
    height: min-content;
    background-color: #1F2937;
}

.header {
    justify-content: space-between;
    padding: 20px 15%;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 10px
}

button {
    font-size: 17px;
    color:#f9faf8;
    background-color: #3882f6;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bold;
    border: 0px;
}

.image {
    flex: 1 1 53%;
    background-color: rgba(128, 128, 128, 0.675);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

h1 {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-size: 48px;
}

p {
    margin: 0;
    padding: 0;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.navy {
    background-color: #1F2937;
    gap: 60px;
}

/* section 2 */

.white {
    flex-direction: column;
    background-color: #f9faf8;
    justify-content: center;
    gap: 50px;
}

.two {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card {
    width: 170px;
    font-size: 18px;
    text-align: center;
}

.box {
    width: 170px;
    height: 180px;
    border-width: 5px;
    border-color: #3882f6;
    border-style: solid;
    margin-bottom: 8px;
    border-radius: 15px;
}

/* section 3 */

.grey {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

.italics {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300px;
    align-self: flex-start;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    padding: 0px 60px 0px 0px
}

/* section 4 */

.white-two {
    background-color: #f9faf8;
}

.callout {
    background-color: #3882f6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 16px 50px;
    height: 165px;
    border-radius: 15px;
}

h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #f9faf8;
    margin-bottom: 6px;
}

.sign {
    color:#e5e7eb;
    font-size: 18px;
}

.callout button {
    border-width: 2px;
    border-style: solid;
}

.footer {
    color: #f9faf8;
    justify-content: center;
    padding: 30px 15%;
}

